.col-lg-3(align="center")
  %form.thumbnail.upload{:name => "userpic"}
    %input(type="hidden" name="id" value="#{$id}")
    %input(type="hidden" name="userId" value="#{$user->id}")
    #preview.upload__preview
    .upload__progress Uploading…
    .upload__link
      %a.upload-link.js-fileapi-wrapper
        %span.btn.btn-warning.upload-link__txt Browse
        %input.upload-link__inp{:accept => "image/*", :name => "photo", :type => "file"}

/ Modal
#modalUpload.modal.fade{"aria-labelledby" => "modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#modalLabel.modal-title Cropper
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .img-container
          %img#modalUploadImg(style="max-width: 550px")
      .modal-footer
        %button.btn.btn-success{"data-dismiss" => "upload", :type => "button"} Upload
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

-# cropperJs
- $assets::pushJs('/node_modules/cropperjs/dist/cropper.min.js')
- $assets::pushCss('/node_modules/cropperjs/dist/cropper.min.css')
- $assets::pushCss('/css/preview.css')

- $assets::pushJs('/js/cp/upload/image.js')
- $assets::pushJs('/node_modules/fileapi/dist/FileAPI.min.js')

:javascript

  FileAPI.Image("#{$item->thumbsImage()}")
    .preview($(preview).width(), $(preview).height())
    .get(function (err, image) {
      if (!err) {
        var preview = document.getElementById('preview');
        preview.innerHTML = '';
        preview.appendChild(image);
      }
    });
