!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title = 'WBS - ' . ($title ?? 'dashboard')
    %link{:href => "/assets/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/assets/gridlex/gridlex.min.css", :rel => "stylesheet"}
    %link{:href => "/assets/toastr/toastr.min.css", :rel => "stylesheet"}
    %link{:href => "/assets/font-awesome/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "/css/inspinia.css", :rel => "stylesheet"}
    %link{:href => "/css/wbs.css", :rel => "stylesheet"}
    - $this->block('head')
    - $this->block('pager')
  %body
    #wrapper
      %nav.navbar-default.navbar-static-side{:role => "navigation"}
        .sidebar-collapse
          %ul#side-menu.nav.metismenu
            %li.nav-header
              .dropdown.profile-element(align="center")
                %span
                  %img.img-circle(src="#{$user->getAvatar(48)}" width="48")
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.clear
                    %span.block.m-t-xs
                      %i.fa.fa-user-o
                      %strong.font-bold =$user->login
                    %span.text-muted.text-xs.block
                      =$_($user->role()->title)
                      %b.fa.fa-angle-down
                %ul.dropdown-menu.animated.fadeInRight.m-t-xs
                  %li
                    %a{:href => "profile.html"} Profile
                  %li
                    %a{:href => "contacts.html"} Contacts
                  %li
                    %a{:href => "mailbox.html"} Mailbox
                  %li.divider
                  %li
                    - $httpPath = $this->httpPath('app.cp.action', array('cpProcessor' => 'auth', 'action' => 'logout'))
                    %a{:href => $httpPath}
                      %i.fa.fa-sign-out
                      Log out
              .logo-element
                WBS

            - foreach ($menuList as $menu)

              - if (!$user->hasPermission($menu->httpPath))
                - continue

              - $currentHttpPath = $currentMenu->httpPath()
              - $menuHttpPath = $menu->httpPath()

              - $isActive = $currentHttpPath['attributes']['cpProcessor'] == $menuHttpPath['attributes']['cpProcessor']

              %li{:class => $isActive ? 'active' : ''}

                - $menuItems = $menu->menus->query()->orderAscendingBy('sortId')->find()->asArray()

                - $isNotEmpty = !empty($menuItems)

                - $attributes = $menuHttpPath['attributes']
                - $httpPath = '#'

                - if (!$isNotEmpty)
                  - $httpPath = $this->httpPath($menuHttpPath['url'], $attributes)

                %a(href="#{$httpPath}")

                  %i.fa{:class => $menu->icon}
                  %span.nav-label = $_($menu->title)

                  - if ($isNotEmpty)
                    %span.fa.arrow

                - if ($isNotEmpty)

                  %ul.nav.nav-second-level.collapse

                    - foreach ($menuItems as $menu)

                      - if (!$user->hasPermission($menu->httpPath))
                        - continue

                      - $menuHttpPath = $menu->httpPath()

                      %li{:class => ($menu->httpPath == $currentMenu->httpPath) ? 'active' : ''}

                        - $httpPath = $this->httpPath($menuHttpPath['url'], $menuHttpPath['attributes'])

                        %a{:href => $httpPath} = $_($menu->title)

      #page-wrapper.gray-bg
        .row.border-bottom
          %nav.navbar.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
            .navbar-header
              %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary
                %i.fa.fa-bars
              %form.navbar-form-custom{:action => "search_results.html", :role => "search"}
                .form-group
                  %input#top-search.form-control{:name => "top-search", :placeholder => "Search for something...", :type => "text"}/
            %ul.nav.navbar-top-links.navbar-right
              %li
                %span.m-r-sm.text-muted.welcome-message
              %li.dropdown
                %a.dropdown-toggle.count-info{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-envelope
                  %span.label.label-warning 16
                %ul.dropdown-menu.dropdown-messages
                  %li
                    .dropdown-messages-box
                      %a.pull-left{:href => "profile.html"}
                        %img.img-circle{:alt => "image", :src => "img/a7.jpg"}/
                      .media-body
                        %small.pull-right 46h ago
                        %strong Mike Loreipsum
                        started following
                        %strong Monica Smith
                        %br/
                        %small.text-muted 3 days ago at 7:58 pm - 10.06.2014
                  %li.divider
                  %li
                    .dropdown-messages-box
                      %a.pull-left{:href => "profile.html"}
                        %img.img-circle{:alt => "image", :src => "img/a4.jpg"}/
                      .media-body
                        %small.pull-right.text-navy 5h ago
                        %strong Chris Johnatan Overtunk
                        started following
                        %strong Monica Smith
                        %br/
                        %small.text-muted Yesterday 1:21 pm - 11.06.2014
                  %li.divider
                  %li
                    .dropdown-messages-box
                      %a.pull-left{:href => "profile.html"}
                        %img.img-circle{:alt => "image", :src => "img/profile.jpg"}/
                      .media-body
                        %small.pull-right 23h ago
                        %strong Monica Smith
                        love
                        %strong Kim Smith
                        %br/
                        %small.text-muted 2 days ago at 2:30 am - 11.06.2014
                  %li.divider
                  %li
                    .text-center.link-block
                      %a{:href => "mailbox.html"}
                        %i.fa.fa-envelope
                        %strong Read All Messages
              %li.dropdown
                %a.dropdown-toggle.count-info{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-bell
                  %span.label.label-primary 8
                %ul.dropdown-menu.dropdown-alerts
                  %li
                    %a{:href => "mailbox.html"}
                      %div
                        %i.fa.fa-envelope.fa-fw
                        You have 16 messages
                        %span.pull-right.text-muted.small 4 minutes ago
                  %li.divider
                  %li
                    %a{:href => "profile.html"}
                      %div
                        %i.fa.fa-twitter.fa-fw
                        3 New Followers
                        %span.pull-right.text-muted.small 12 minutes ago
                  %li.divider
                  %li
                    %a{:href => "grid_options.html"}
                      %div
                        %i.fa.fa-upload.fa-fw
                        Server Rebooted
                        %span.pull-right.text-muted.small 4 minutes ago
                  %li.divider
                  %li
                    .text-center.link-block
                      %a{:href => "notifications.html"}
                        %strong See All Alerts
                        %i.fa.fa-angle-right
              %li
                - $httpPath = $this->httpPath('app.cp.action', array('cpProcessor' => 'auth', 'action' => 'logout'))
                %a{:href => $httpPath}
                  %i.fa.fa-sign-out
                  Log out
        .row.wrapper.border-bottom.white-bg.page-heading
          .col-sm-4
            %h2 =$_($currentMenu->title)
            -#%ol.breadcrumb
            -#  - foreach (\Project\Breadcrumb::get() as $breadcrumbName => $url)
            -#    - $isActive = (\Project\Breadcrumb::active() == $breadcrumbName)
            -#    %li{:class => $isActive ? 'active' : ''}
            -#      - if ($isActive || empty($url))
            -#        %strong = $breadcrumbName
            -#      - else
            -#        - $httpPath = $this->httpPath($url[0], $url[1])
            -#        %a{:href => $httpPath} = $breadcrumbName
            -#  %li
            -#    %a{:href => "index.html"} This is
            -#  %li.active
            -#    %strong Breadcrumb
          .col-sm-8
            .title-action
              %a.btn.btn-success{:href => ""}
                %i.fa.fa-plus
                Add item
        .wrapper.wrapper-content
          - $this->childContent()
        .footer
          %div
            %strong Copyright
            WBS // © 2016
    %script{:src => "/assets/jquery/jquery.js"}
    %script{:src => "/assets/bootstrap/js/bootstrap.min.js"}
    %script{:src => "/assets/toastr/toastr.min.js"}
    %script{:src => "/assets/url.js/url.min.js"}
    %script{:src => "/assets/metisMenu/jquery.metisMenu.js"}
    %script{:src => "/assets/slimscroll/jquery.slimscroll.min.js"}
    %script{:src => "/js/inspinia.js"}
    %script{:src => "/assets/pace/pace.min.js"}
    partial: 'app:cp/config'
    %script(type="text/javascript" src="/js/inspinia.config.js")