.container
  .col-md-12
    .col-md-3
    .col-md-6
      %h1.primary Oops!
      %h2.warning
        %b.info 404
        Not Found
      %p.clearfix
      %h4.default К сожалению, произошла ошибка, страница не найдена
      %p.clearfix
      %a.btn.btn-success{:href => "/"}
        %span.fa.fa-home
        Главная
  .col-md-3