- $this->layout('app:email/layout')

%table.main{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td.content-wrap
      %table{:cellpadding => "0", :cellspacing => "0"}
        %tr
          %td(align='center')
            %img.img-responsive{:src => $logo, :width => '64'}
        %tr
          %td.content-block
            %h3 Recovery Password
        %tr
          %td.content-block
            Dear friend!
            You recovery code is
            %strong = $code
        %tr
          %td.content-block
            We may need to send you critical information about our service and it is important that
            we have an accurate email address.
.footer
  %table{:width => "100%"}
    %tr
      %td.aligncenter.content-block
        Follow
        %a{:href => "#"} @WBS
        on Twitter.