!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title = $title ?? null
    %link(href="/css/auth.css" rel="stylesheet")
    %link{:href => "/node_modules/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      .login-container
        #output
        - if (!isset($avatar))
          - $avatar = '/svg/no-avatar-140.png'
        %img.avatar(src="#{$avatar}" title="Avatar")
        .form-box
          - $this->childContent()