!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %link(href="/css/auth.css" rel="stylesheet")
    %link{:href => "/assets/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      .login-container
        #output
        %img.avatar(src="/svg/no-avatar.svg" title="no avatar")
        .form-box
          - $this->childContent()