- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %label.label.label-success.pull-right
      -# = $count
      %h3 = $currentMenu->title
    .ibox-content#content
.col-lg-3
  -#.ibox
  -#  .ibox-title
  -#    Filter
  -#  .ibox-content
  -#    filter
- $assets::pushJs('/js/cp/soc/dealer/list.jsx')