- $this->layout('cp:layout')

.col-lg-9

  .ibox
    .ibox-title
      %h3
        Edit Wheel
        %label.label.label-info.pull-right
          = $_($item->name)
    .ibox-content

      .tabs-container
        .tabs-right
          %ul.nav.nav-tabs
            %li.active
              %a(data-toggle="tab" href="#tab-base") Base
            %li
              %a(data-toggle="tab" href="#tab-image") Image
            %li
              %a(data-toggle="tab" href="#tab-video") Video
            -#- if ($user->hasPermission('cp.log'))
              %li
                %a(data-toggle="tab" href="#tab-last-activity")
                  %label.label.label-info.pull-right = $logCount
                  Last activity

          .tab-content

            #tab-base.tab-pane.active
              .panel-body
                partial: 'cp:sow/wheel/edit.tabs/base'

            #tab-image.tab-pane
              .panel-body
                partial: 'cp:sow/wheel/edit.tabs/image'

            #tab-video.tab-pane
              .panel-body
                partial: 'cp:sow/wheel/edit.tabs/video'

-# fixme css/js code
<link rel="stylesheet" href="/node_modules/plyr/dist/plyr.css">
<script src="/node_modules/plyr/dist/plyr.js"></script>
-#<script>plyr.setup();</script>

partial:'cp:soc/brand/preview'

- $assets::pushJs('/js/cp/sow/wheel/edit.js')
- $assets::pushJs('/js/cp/upload/image-wheel.js')
