!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Wheel Pro
    :css
      img {
        width: 140px;
        height: 140px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -70px 0 0 -70px;
      }
  %body
    %img(src="/images/logo.png" alt="Wheel Pro")