- $this->layout('cp:layout')

.col-lg-3
.col-lg-6
  .ibox
    .ibox-title
      %h3 Invitation System
    .ibox-content
      %p.small
        An invitation system is a method of encouraging
        people to join an organization, such as a club or a website.
        In regular society, it refers to any system whereby new members are
        chosen; they cannot simply apply. In relation to websites and
        other technology-related organisations, the term refers to a more
        specific situation whereby invitations are sent, but there is
        never any approval needed from other members.
        Popular alternatives to this specific version are open registration
        and closed registration.
        Open registration is where any user can freely join.
        Closed registration involves an existing member recommending a new
        member and approval is sought amongst the existing members.
        The basis of the invitation system is that a member can grant
        approval to a new user without having to consult any other members.
      %form(method="POST")
        - if ($message)
          .form-group
            .alert{:class => key($message)}
              = current($message)
        .form-group
          %label Email address
          %input.form-control{:name => "email", :placeholder => "email", :type => "email", :value => $email}
        .form-group
          %label Role
          %select.wbs-select2.form-control(name="roleId")
            - foreach ($roles as $role)
              %option{:value => $role->id, :selected => ($role->id == $roleId)}
                = $role->title
        %button.btn.btn-info{:disabled => $inviteSystem} Invate