- $this->layout('cp:layout')

.col-lg-3
  .ibox
    .ibox-title
      %h3 Cache System
    .ibox-content
      %p.small
        Write-around cache allows write operations to
        be written to storage, skipping the cache altogether.
        This keeps the cache from becoming flooded when large
        amounts of write I/O occur. The disadvantage is that
        data is not cached unless it is read from storage.
        As such, the initial read operation will be comparatively
        slow because the data has not yet been cached. [todo]
      %form(method="POST")
        %input(type="hidden" name="type" value="cache")
        %button.btn.btn-warning{:disabled => $purgeCache} Purge