- $this->startBlock('title')
Error 404
- $this->endBlock()

- $this->startBlock('h1')
404
- $this->endBlock()

- $this->startBlock('message')
Page Not Found
- $this->endBlock()

- $this->layout('app:error/layout')

Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.