- $this->startBlock('title')
Error 500
- $this->endBlock()

- $this->startBlock('h1')
500
- $this->endBlock()

- $this->startBlock('message')
Internal Server Error
- $this->endBlock()

- $this->layout('app:error/layout')

Our service monitors your site for HTTP errors like 500. Please contact us (email preferred) whenever you encounter 500 errors on your CheckUpDown account. We then have to liaise with your ISP and the vendor of the Web server software so they can trace the exact reason for the error. Correcting the error may require recoding program logic for the Web server software, which could take some time.