- $this->layout('app:cp/layout')

.well
  %h3.font-bold This is page content
  .error-desc
    You can create here any grid layout you want. And any variation layout you imagine:) Check out
    main dashboard and other site. It use many different layout.
    %br
    %a.btn.btn-primary.m-t{:href => $this->httpPath('app.cp.processor')}
      %i.fa.fa-dashboard
      Dashboard
  -#- $httpPath = 'app.cp.action'
  -#- $attributes = ['cpProcessor' => 'upload', 'action' => 'image']
  -#- $httpPath = $this->httpPath($httpPath, $attributes)
  -#%form(enctype="multipart/form-data" action="#{$httpPath}" method="POST")
  -#  %input(type="file" name="file")
  -#  %button.btn.btn-primary(type="submit") submit