.panel-body
  %form(method="POST" data-id="#{$item->id}" action="/api/soc/brand/#{$item->id}/collection" data-created="collection")

    .grid
      .col-md-12
        .form-group.form-group-lg
          %label.control-label(for="name")
            Name
          %input#name.form-control.text-uppercase(type="text" name="name" value="" )

    .hr-line-dashed

    .form-group(align="center")
      %button.btn.btn-primary.btn-lg
        %i.fa.fa-save
        Submit

  // http://wbs-cms/api/soc/collection?terms[brands.id]=9
  #collectionRows.table-responsive