%form(method="POST" action="/api/sow/wheel/#{$wheel->id}/video" data-created="video")

  .grid

    .col-md-12
      .form-group.form-group-lg
        %label.control-label(for="youtubeUrl") YouTube Url
        %input#youtubeUrl.form-control(type="text" name="url" value="")

  .hr-line-dashed

  .form-group(align="center")
    %button.btn.btn-primary.btn-lg
      %i.fa.fa-save
      Submit

.grid#videoRows
  -#- foreach ($wheel->videos() as $video)
  -#  %div.col-md-6
  -#    %div(data-type="#{strtolower($video->provider)}" data-video-id="#{$video->identifier}")