- $this->layout('cp:layout')

#content

%form(action="/cp/upload/image" method="post" enctype="multipart/form-data")
  %input(type="hidden" name="type" value="wheel")
  %input(type="file" name="file" )
  %button(type="submit") send

- $assets::pushJs('/js/cp/dashboard/default.js')