- $this->layout('cp:layout')

- if (isset($_GET['deb']))
  %form(method="post" enctype="multipart/form-data" action="/api/account/image?id=6")
    %input(type="file" name="filedata")
    %button(type="submit") send

#content

-#%form(action="/cp/upload/image" method="post" enctype="multipart/form-data")
-#  %input(type="hidden" name="type" value="wheel")
-#  %input(type="file" name="file" )
-#  %button(type="submit") send

- $assets::pushJs('/js/cp/dashboard/default.js')