- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %h3
        Edit Bolt Pattern
        %label.label.label-info.pull-right
          = $_($collection->bolt . 'x' . $collection->pcd)
    .ibox-content
      %form(method="POST" action="/api/sow/collection" data-created)
        .form-group.form-group-lg
          %label.control-label(for="bolt")
            Bolt / Stud
          %input#bolt.form-control.text-uppercase(type="text" name="bolt" value="#{$collection->bolt}" )
        .form-group.form-group-lg
          %label.control-label(for="pcd")
            PCD
          %input#pcd.form-control.text-uppercase(type="text" name="pcd" value="#{$collection->pcd}" )